.homeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    padding: 20px;
    margin: 20px;
}


.linkContainer{

    display: flex;
    justify-content: flex-end;

}

.imgContainer{

    display: flex;
    align-content: center;
    justify-content: center;
    padding: 3px;
    margin: 3px;

}

.round-img{

    display: block;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;

}

.desContainer{
    text-align: center;
}

.navContainer{

    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content:space-evenly;

    margin-top :30px;
    
}

.links{

    color: #2f73cc;
    font-size: 32px;
    font-weight: bold;

}

@media only screen and (max-width: 760px) {

    .homeContainer{
        margin-top: 60px;
    }

    .navContainer{

        justify-content: space-between;
    }
    .links {
      font-size: 24px;
    }
  }

.links:hover{
    text-decoration:none;
}

.icons{

    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;



}

.iconLink{

    color: black;
    border-radius:50%;
    font-weight: bold;
    padding: 5px;

}

.iconLink:hover{
    color: grey;
    text-decoration: solid;
}

